ul{
    list-style-type: none;
    width: 100%;
    background-color: rgb(40, 179, 133);
}
ul li{
    display: inline-block;
    width: 110px;
    padding: 20px;
    margin-left: -57px;
    margin-right:35px;
}

ul li:hover{
    background-color: #e0cf19;
    transition: 0.6s;
}
ul li a{
    text-decoration: none;
    color: rgb(30, 24, 20);
}
i{
    padding-right: 10px;

}

.hhh{
    display:none;
    z-index: 1;
    position: absolute;
    margin-top: 20px;
    margin-left: -21px;
    width: 110px;
}
.neli:hover .hhh{
    display: block;

}
#gkc {
    position:absolute;
    z-index: 1;
    margin-left: 145px;
    margin-top: -30px;
    width: 90px;
    display: none;


}
.bil:hover #gkc{
    display: block;

}